<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>208761281823-8s1lu81l0e5q0nuadu1defea7flbsc0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208761281823-8s1lu81l0e5q0nuadu1defea7flbsc0a</string>
	<key>API_KEY</key>
	<string>AIzaSyCCERdEIUDQk0Ppj1kTavgUVQz07Jw80m8</string>
	<key>GCM_SENDER_ID</key>
	<string>208761281823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigsmashsoftware.vistaweather</string>
	<key>PROJECT_ID</key>
	<string>vista-weather-98681</string>
	<key>STORAGE_BUCKET</key>
	<string>vista-weather-98681.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:208761281823:ios:7a2510bbdf30cec2</string>
	<key>DATABASE_URL</key>
	<string>https://vista-weather-98681.firebaseio.com</string>
</dict>
</plist>