<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleMobileAdsAdUnitID</key>
	<string></string>
	<key>DarkSkyAPIKey</key>
	<string>99fdb7916a09bf62906e8f81f265c59b</string>
	<key>GooglePlacesAPIKeyiOS</key>
	<string>AIzaSyBSFQOBp0ur5PmQU7WjMR_KyDozwZV3XIk</string>
	<key>GooglePlacesAPIKeyWeb</key>
	<string>AIzaSyDA0o9rG8W0n6XtMF5QZDJGckSWyuh3YRQ</string>
</dict>
</plist>
